HealthCare.WebService/Service References/ServiceReference2/HISWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="reciveData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="reciveDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="reciveDataResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="testReciveData">
        <s:complexType />
      </s:element>
      <s:element name="testReciveDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="testReciveDataResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="reciveDataSoapIn">
    <wsdl:part name="parameters" element="tns:reciveData" />
  </wsdl:message>
  <wsdl:message name="reciveDataSoapOut">
    <wsdl:part name="parameters" element="tns:reciveDataResponse" />
  </wsdl:message>
  <wsdl:message name="testReciveDataSoapIn">
    <wsdl:part name="parameters" element="tns:testReciveData" />
  </wsdl:message>
  <wsdl:message name="testReciveDataSoapOut">
    <wsdl:part name="parameters" element="tns:testReciveDataResponse" />
  </wsdl:message>
  <wsdl:portType name="HISWebServiceSoap">
    <wsdl:operation name="reciveData">
      <wsdl:input message="tns:reciveDataSoapIn" />
      <wsdl:output message="tns:reciveDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="testReciveData">
      <wsdl:input message="tns:testReciveDataSoapIn" />
      <wsdl:output message="tns:testReciveDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HISWebServiceSoap" type="tns:HISWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="reciveData">
      <soap:operation soapAction="http://tempuri.org/reciveData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testReciveData">
      <soap:operation soapAction="http://tempuri.org/testReciveData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HISWebServiceSoap12" type="tns:HISWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="reciveData">
      <soap12:operation soapAction="http://tempuri.org/reciveData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testReciveData">
      <soap12:operation soapAction="http://tempuri.org/testReciveData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HISWebService">
    <wsdl:port name="HISWebServiceSoap" binding="tns:HISWebServiceSoap">
      <soap:address location="http://192.168.25.129/HISWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="HISWebServiceSoap12" binding="tns:HISWebServiceSoap12">
      <soap12:address location="http://192.168.25.129/HISWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>